* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 2px black solid;
}

header > p {
  margin-right: 12px;
  margin-left: 16px;
  font-size: x-large;
  font-weight: bold;
}

header > div a {
  margin-right: 8px;
  color: black;
  border: 2px black solid;
  text-decoration: none;
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
}

header > div a:hover {
  background-color: black;
  color: white;
  transition: background-color;
}

.home div {
  margin-bottom: 36px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  height: 32px;
  border: 2px black solid;
  border-radius: 20px;
}

.home > div > p {
  font-size: large;
  font-weight: bold;
}

#card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  margin: 12px;
  padding: 12px;
  border: 2px black solid;
  border-radius: 24px;
}

#card > p {
  padding-left: 8px;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0px;
  border-top: 2px black solid;
  width: 100%;
  background-color: white;
}

footer > p {
  margin: 0;
}

.selectPlan {
  display: flex;
  align-items: center;
}
.selectPlan > select {
  height: 40px;
  margin-left: 24px;
}

.plan{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.plan h1 {
  margin-left: 16px;
}

/* .plan > #card{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#plan-select {
  border-radius: 12px;
  border: 2px black solid;
}

#plan-select > option {
  border-radius: 12px;
  border: 2px black solid;
}

.submitButton {
  border: 2px black solid;
  border-radius: 4px;
  background-color: white;
  margin-left: 8px;
}

#submit {
  display: flex;
  align-items: center;
}

.submitButton:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}
