:root {
  /* Tailwind Gray */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Tailwind Blue */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
}

* {
  box-sizing: border-box;
  /* background-color: var(--gray-50); */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* display: block; */
  margin: 0;
  border-bottom: 3px black solid;
}

header > div {
  margin: 0 8px;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header > p {
  margin-right: 12px;
  color: var(--gray-800);
  margin-left: 16px;
  font-size: xx-large;
  font-weight: bold;
}

header > div a {
  width: 100px;
  height: 50px;
  margin-right: 8px;
  color: black;
  font-size: large;
  font-weight: bold;
  border: 2px black solid;
  text-decoration: none;
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header > div a p{
  font-size: large;
} */

header > div a:hover {
  background-color: black;
  color: white;
  transition: background-color;
}

.home div {
  margin-bottom: 36px;
}

.home .explain > p {
  font-size: xx-large;
  color: var(--gray-800);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.home > #formDiv {
  width: 60%;
  height: 80px;
  > #submit {
    display: flex;
    justify-content: start;
    height: 100%;

    > #plan {
      width: 70%;
      height: 70%;
      margin-right: 5%;
      font-size: large;
      font-weight: bold;
      background-color: var(--gray-100);
    }
    @media screen and (max-width: 768px) {
      > .submitButton {
        width: 25%;
        height: 60%;
        background-color: white;
      }

      .submitButton:hover {
        background-color: var(--gray-900);
        color: var(--gray-50);
        transition: background-color 0.3s;
      }
    }
    @media screen and (min-width: 769px) {
      > .submitButton {
        font-weight: bold;
        font-size: medium;
        width: 12%;
        height: 55%;
        background-color: white;
      }

      .submitButton:hover {
        background-color: var(--gray-900);
        color: var(--gray-50);
        transition: background-color 0.3s;
      }
    }
  }
}

input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50%;
  height: 32px;
  border: 2px black solid;
  border-radius: 20px;
}

.home > div > p {
  font-size: large;
  font-weight: bold;
}

#card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-width: 400px; */
  margin: 12px;
  padding: 12px;
  border: 2px black solid;
  border-radius: 24px;
  margin-right: 16px;
}

#card > p {
  padding-left: 8px;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0px;
  border-top: 3px black solid;
  width: 100%;
  background-color: white;
}

footer > p {
  margin: 0;
  font-size: smaller;
  color: var(--gray-700);
}

.selectPlan {
  display: flex;
  align-items: center;
}
.selectPlan > select {
  height: 40px;
  margin-left: 24px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.plan h1 {
  margin-left: 16px;
}

/* .plan > #card{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#plan-select {
  border-radius: 12px;
  border: 2px black solid;
}

#plan-select > option {
  border-radius: 12px;
  border: 2px black solid;
}

.submitButton {
  border: 2px black solid;
  border-radius: 4px;
  background-color: white;
  margin-left: 8px;
}

#submit {
  display: flex;
  align-items: center;
}

#card div div {
  /* display: flex;
  flex-direction: column;
  justify-content: start;  */
  margin-right: 8px;
}

.cardBtn {
  align-self: center;
  margin-right: 4px;
  border: 2px black solid;
  background-color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: medium;
}

.cardBtn:hover {
  color: white;
  background-color: rgb(227, 0, 0);
  transition: background-color 0.3s;
}

body > main > #image{
  width: 60%;
  height: 30%;
}

